{% extends 'base.html' %}

{% block content %}

<h1>Hello welcome to my about page</h1>
{% endblock %}
<h2> 
        post = [{
            'author': 'nill blake',
            'title':'Example of pitches',
            'content': 'contents',
            'date': 'jan 17 2010'
        },
        {
            'author': 'booterkn boika',
            'title': 'Usefull pitches',
            'content': 'contents',
            'date': 'jan 17 2010'
          
        },
        {
            'author': 'boot camp',
            'title': 'short pitches',
            'content': 'contents',
            'date': 'jan 17 2010'
          
        }
        ]
</h2>