{% extends 'base.html' %}
{% block content %}
{{super()}}

<h1>Hello welcome to my about page</h1>
<div class="container">
    <dive class="row">
        <h2>best pitches</h2>
        <p>
            Hi [redacted for privacy],
            
            I saw your post in [private Facebook group] a while back asking for pitches for the Ideas Section of Quartz.
                                    
            Here’s a pitch for you to consider.
                                    
            Voters are creating an election echo chamber 
                                    
            Voters today are embracing presidential candidates who appeal to their specific passions and ideals much like they only trust news sources that align with their ideological views.
                                    
            Our ability to self-select our newsfeed via Facebook, Twitter and even whether our main source of news is MSNBC or Fox News is creating an echo chamber for voters. As a result, the only news voters get about their candidate is favorable and the news about the candidates they don’t like is always negative. 
                                    
            This piece would focus on how voters are no longer receiving balanced (and, in some cases, accurate) news about election candidates. This is not because the media is biased but because voters have an unprecedented ability to self-select the news they receive.
                                    
            This article that would include interviews with:
                                    
            Tom Rosenstiel, executive director of API and former director of the Project for Excellence in Journalism at the Pew Research Center in Washington, D.C.
            Carroll Doherty, director of political research at Pew Research Center
            My articles have appeared in Fast Company, Men’s Journal and Daily Worth. 
                                    
            Please let me know if I can provide you any additional information or clips, or if you have any feedback for me.
                                    
            Thanks.
        </p>
    </dive>
</div>


{% endblock %}
